@using InternetBanking.Core.Applicacion.ViewsModels.User;
@model LoginViewModel;

@{
    ViewData["Title"] = "Login";
}

<h1>Login</h1>

<form method="post" asp-action="Login">
    <div>
        <label asp-for="Email"></label>
        <input asp-for="Email" />
        <span asp-validation-for="Email"></span>
    </div>
    <div>
        <label asp-for="Password"></label>
        <input asp-for="Password" />
        <span asp-validation-for="Password"></span>
    </div>
    <div>
        <button type="submit">Sign In</button>
    </div>

    <div>
        <a asp-action="Register">Register</a>
    </div>

</form>

